body {
    color: #32383D;
}

.main {
    margin-top: 10rem;
    max-width: 900px;
    text-align: center;
}

/* Top header */

.company {
    font-size: 9rem;
}

.header {
    margin-bottom: 0;
}

.subheader {
    font-size: 2.5rem;
}

.header-image {
    padding-top: 2rem;
}

/* Metrics section */

.server-area {
    margin-top: 5rem;
}

.server-title {
    font-size: 4rem;
    border-bottom: 1px #898C8E solid;
}

.server-header {
    position: relative;
    margin-bottom: 5rem;
}

.server-sub-title {
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
}

.text-left {
    text-align: left;
    left: 0px;
}

.text-right {
    text-align: right;
    right: 0px;
}

.arrow_box {
    position: absolute;
    background: #88b7d5;
    border: 2px solid #c2e1f5;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    top: -60px;
    left: 0px;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 10px;
    margin-left: 31.1%;
    border-left: 0 solid transparent;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 14px;
    margin-left: 30.5%;
    border-left: 0 solid transparent;
}

.image-section {
    position: relative;
}


.secondary-metric {
    display: block;
}


/* Circle filled module */

.circle-filled {
    border-radius: 50%;
    background-color: #3741AD;
    color: #FFF;
    width: 150px;
    height: 150px;
}

.filled-stat-title {
    font-size: 1.4rem;
}

.filled-number {
    font-size: 3.2rem;
    line-height: 1;
    padding-top: 0.2rem;
}

.filled-unit {
    font-size: 1.4rem;
}

.filled-secondary-metric {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Circle frame module */
.circle-frame {
    border-radius: 50%;
    border: 2px solid #878B8E;
    width: 150px;
    height: 150px;
}

.metric-stat {

}

.number {
    line-height: 1;
    font-size: 4rem;
    color: #61B58F;
}

.unit {

}

.stat-title {
    color: #61B58F;
    font-size: 1.9rem;
    font-weight: 200;
}

.secondary-metric {
    display: block;
    font-weight: 400;
    color: #535970;
    font-size: 1.5rem;
    line-height: 1;
}

.circle-center {

}
/* end circle-frame module */

/* footer */
.footer {
    margin-top: 9rem;
    margin-bottom: 3rem;
    height: 4rem;
}

/* Addition to grid layout */

.column-100 {
    flex: 0 0 100%;
    max-width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.center-horizontal-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



