<html>
<head>
    <meta charset="UTF-8">
    <title>Performance Dashboard - Server Density</title>
    <meta name="description" content="Your own dashboard to show off how impressive and well you are managing your infrastructure.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.min.css">
    <link rel="stylesheet" href="css/style.css">


{% macro short_no(number) -%}
    {% if number > 1000000000 %}
        {{ number/1000000000|round_with_letter("B") }}
    {% elif number > 1000000 %}
        {{ number/1000000|round_with_letter("M") }}
    {% elif number > 1000 %}
        {{ number/1000|round_with_letter("K") }}
    {% else %}
        {{ number }}
    {% endif %}
{%- endmacro %}

{% macro serverimage(server) -%}
    <div class="image-section column center-horizontal-child">
    {% if server['bubble-description'] %}
        <div class="arrow_box">
            <span>{{ server['bubble-description'] }}</span>
        </div>
    {% endif %}
        <div class="server-image">
            <img src="images/{{ server.image }}" alt="">
        </div>
    </div>
{%- endmacro %}

{% macro circle_frame(metric) -%}
    <div class="column">
        <div class="circle-frame center-horizontal-child">
            {% for calculation in metric.calculation %}
            {% if loop.index == 1 %}
                <div class="metric-stat">
                    <span class="number">{{ metric[calculation + '_stat'] }}</span>
                    <span class="unit">{{ metric[calculation + '_unit'] }}</span>
                </div>
                <span class="stat-title">{{ metric[calculation + '_title'] }}</span>
            {% else %}
                <span class="secondary-metric">
                    {{ metric[calculation + '_title'] }}: {{ metric[calculation + '_stat'] }} {{ metric[calculation + '_unit'] }}
                </span>
            {% endif %}
            {% endfor %}
        </div>
    </div><!-- macro for module circle frame -->
{%- endmacro %}

{% macro circle_filled(metric) -%}
    <div class="column">
        <div class="circle-filled center-horizontal-child">
        {% for calculation in metric.calculation %}
        {% if loop.index == 1 %}
            <span class="filled-stat-title">{{ metric[calculation + '_title'] }}</span>
            <span class="filled-number">{{ metric[calculation + '_stat'] }}</span>
            <span class="filled-unit">{{ metric[calculation + '_unit'] }}</span>
        {% else %}
            <span class="filled-secondary-metric">
                {{ metric[calculation + '_title']}}: {{ metric[calculation + '_stat'] }} {{ metric[calculation + '_unit'] }}
            </span>
        {% endif %}
        {% endfor %}
        </div>

    </div>
{%- endmacro %}


</head>
<body>
    <div class="container main">
        <div class="row">
            <div class="column">
                <div>
                    <h1 class="company">{{ general.company }}</h1>
                    <h2 class="header">{{ general.header }}</h2>
                    <span class="subheader">{{ general['sub-header'] }}</span>
                </div>
                <div class="header-image">
                    <img src="images/{{ general['header-image'] }}" alt="">
                </div>
            </div>
        </div>
        <div class="row flex-wrap">
        {% for server in infrastructure %}
        <div class="column column-{{ server.size|default('100') }} server-area">
            <div class="server-header">
                <h1 class="server-title text-{{ server.title_layout|default('left') }}">{{ server.title }}</h1>
                <span class="server-sub-title text-{{ server.title_layout|default('left') }}">{{ server['sub-title'] }}</span>
            </div>
            <div class="row">
                {% if server.image_layout == 'right' %}
                    {{ serverimage(server) }}
                {% endif %}

                {% for metric in server.metrics %}
                    {% if  metric.style|default('circle-frame') == 'circle-frame' %}
                        {{ circle_frame(metric) }}
                    {% elif metric.style == 'circle-filled' %}
                        {{ circle_filled(metric) }}
                    {% endif %} <!-- more styles to display -->
                {% endfor %}

                {% if server.image_layout == 'left' %}
                    {{ serverimage(server) }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
        <footer>
            <div class="column footer">
                <span>Powered by <a href="https://www.serverdensity.com">Server Density</a></span>
            </div>
        </footer>
    </div>
</body>
</html>
