<html>
<head>
    <meta charset="UTF-8">
    <title>Performance Dashboard - Server Density</title>
    <meta name="description" content="Your own dashboard to show off how impressive and well you are managing your infrastructure.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/milligram.min.css">
    <link rel="stylesheet" href="assets/css/style.css">


</head>
<body>
    {{ test }}
</body>
</html>
